<!DOCTYPE html>
<html>
    <head>

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />

        <link rel="icon" sizes="192x192" href="highres-icon.png" />
        <link rel="icon" type="image/x-icon" href="favicon.ico" />

        <title>Pirâmide DAED</title>
        <script src="sockjs-0.3.4.min.js"></script>
        <script src="stomp.js"></script>

        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/locales/bootstrap-datepicker.pt-BR-ansi.js"></script>
        <script src="js/anglepicker.js"></script>
        <script src="lib/on-daed-js/geral.js"></script>
        <script src="lib/on-daed-js/vsop87.min.js"></script>
        <script src="lib/on-daed-js/astro.js"></script>
        <script src="js/typeahead.min.js"></script>
        <script src="js/imagesloaded.pkg.min.js"></script>
        <script src="js/jquery.qtip.min.js"></script>

        <script src="js/three.min.js"></script>
        <script src="js/MTLLoader.js"></script>
        <script src="js/OBJMTLLoader.js"></script>
        <script src="js/ColladaLoader.js"></script>
        <script src="js/PlyLoader.js"></script>
        <script src="js/OrbitControls.js"></script>
        <script src="js/stats.min.js"></script>
        <script src="js/tween.min.js"></script>
        <script src="js/ThreeHelper.js"></script>
        <script src="lib/on-daed-js/MathHelper.js"></script>
        <script src="lib/on-daed-js/3D.js"></script>

        <script src="ead2015.js"></script>

        <script src="lib/on-daed-js/3D/GraficoGlobo.js"></script>
        <script src="lib/on-daed-js/3D/LinhasDeForcaTerra.js"></script>
        <script src="lib/on-daed-js/3D/SistemaSolTerraLuaSimples.js"></script>
        <script src="lib/on-daed-js/3D/NuvemMolecular.js"></script>
        <script src="lib/on-daed-js/3D/PlacasLitosfericas.js"></script>

        <script src="lib/on-daed-js/3D/AnimacaoPiramideIdle.js"></script>

        <link href="css/bootstrap.min.css" rel="stylesheet"/>
        <link href="css/bootstrap-responsive.css" rel="stylesheet"/>

        <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css"/>

        <style>

            #aviso-landscape {
                display: none;
                color: #ffffff;
                text-align: center;
            }

            @media only screen and (orientation:portrait){
                #wrapper-campo-de-observacao, #label-model {
                    display: none;
                }

                #aviso-landscape {
                    display: block;
                }
            }

            #aviso-landscape img {
                width: 100%;
                margin-top: 2em;
            }

            * {
                font-family: 'Ubuntu', sans-serif;
            }

            .hands-cursor {
                width: 2vw;
                height: 2vw;
                opacity: 0.5;
                z-index: 1000000;
            }

            #hand-screen {
                transform: rotate(225deg);
                position: absolute;
                overflow: hidden;
            }

            .piramide-cantos .label-topo-direita {
                left: 62%;
                top: auto;
                bottom: 86%;
                width: 15%;
                transform: rotate(225deg) scaleX(-1);
            }

            .piramide-cantos .label-topo-esquerda {
                right: 62%;
                bottom: 86%;
                width: 15%;
                transform: rotate(135deg) scaleX(-1);
            }

            .piramide-cantos .label-baixo-direita {
                left: 62%;
                top: 86%;
                width: 15%;
                transform: rotate(-45deg) scaleX(-1);
            }

            .piramide-cantos .label-baixo-esquerda {
                right: 62%;
                top: 86%;
                width: 15%;
                transform: rotate(45deg) scaleX(-1);
            }

            .piramide-normal .label {
                left: auto;
                top: 0px;
                bottom: auto;
                width: 100%;
                transform: rotate(180deg) scaleX(-1);
            }

            #label-model {
                position: absolute;
                color: #FFFFFF;
                font-weight: bold;
                text-align: center;
                z-index: 100000000;
                text-shadow:
                    -1px -1px 0 #00F,
                    1px -1px 0 #00F,
                    -1px 1px 0 #00F,
                    1px 1px 0 #00F;
            }

            html, body {
                overflow: hidden;
                margin: 0;
                background: #000;
            }

            .test-scr {
                display: inline-block;
                width: 50%;
                height: 100%;
            }

            #load-modal {
                background: #000;
                color: #000;
                text-align: center;
                margin: 0;
                padding: 0;
            }

            #screen-row-first, #screen-row-second {
                position: absolute;
            }

            #screen-row-second {
                margin-top: 50%;
            }

            #campo-de-observacao {
                transform: scaleX(-1);
            }

            #wrapper-campo-de-observacao {
                margin: 0 auto;
                overflow: hidden;
            }

        </style>

    </head>
    <body class="piramide-cantos">
        <noscript><h2 style="color: #ff0000">Javascript desativado! Esse site precisa de Javascript para funcionar.</h2></noscript>

        <!-- LOAD -->
        <div class='modal show' id='load-modal' tabindex='-1' role='dialog' data-backdrop="static" 
             data-keyboard="false" aria-hidden='true' aria-labelledby='Carregando'>
            <div class='modal-dialog hidden'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <h4 class="modal-title">Carregando conteúdo (<span id='load-modal-counter'>0</span>/<span id='load-modal-counter-max'>0</span>)!</h4>
                    </div>

                    <div class='modal-body'>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="aviso-landscape">
            <h1>Por favor use seu dispositivo no modo paisagem</h1>
            <img src="http://www.askdeves.co.uk/blog/wp-content/uploads/2011/02/Mobile-phone-landscape.jpg" />
        </div>

        <div id="label-model" class="label-topo-direita"></div>

        <div id="wrapper-campo-de-observacao">
            <div id="campo-de-observacao"><div id="screen-row-first"><div class="test-scr"></div><div class="test-scr" style="position: relative;"><div id="hand-screen">
                            <img class='hands-cursor' style="position: absolute; top: 0px; bottom: 0px;" id="right-cursor" src="imgs/icons/hand.png" />
                            <img class='hands-cursor' style="transform: scaleX(-1); position: absolute; top: 0px; bottom: 0px;" id="left-cursor" src="imgs/icons/hand.png" />
                        </div></div></div>
                <div id="screen-row-second"><div class="test-scr"></div><div class="test-scr"></div></div></div>
        </div>



        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/

            var acessoViaBrowser = !/*[[${kinect}]]*/ false;
            var kinectLoaded = false;

            if (!acessoViaBrowser) {

                function resetMouseVariables() {
                    $('#left-cursor').data('handDown', false);
                    $('#left-cursor').data('dispatchedMouseDown', false);
                    $('#left-cursor').data('lastDownEvent', null);
                    $('#left-cursor').data("LAST_MOUSE_OVER", null);

                    $('#right-cursor').data('handDown', false);
                    $('#right-cursor').data('dispatchedMouseDown', false);
                    $('#right-cursor').data('lastDownEvent', null);
                    $('#right-cursor').data("LAST_MOUSE_OVER", null);
                }

                function simulateMouseEvent(obj, data) {

                    var timestamp = new Date().getTime();
                    var mouseOffset = obj.offset();

                    var x = mouseOffset.left + obj.width() / 2;
                    var y = mouseOffset.top + obj.height() / 2;

                    var visibleHands = $('.hands-cursor:visible');
                    visibleHands.hide();
                    var element = document.elementFromPoint(x, y);
                    visibleHands.show();

                    var LAST_MOUSE_OVER = obj.data("LAST_MOUSE_OVER");

                    if (element !== null) {

                        if (LAST_MOUSE_OVER !== element) {
                            if (LAST_MOUSE_OVER !== null) {
                                var leaveEvt = document.createEvent("MouseEvents");
                                leaveEvt.initMouseEvent("mouseleave", true, true, window,
                                        0, 0, 0, x, y, false, false, false, false, 0, null);
                                LAST_MOUSE_OVER.dispatchEvent(leaveEvt);
                            }

                            var enterEvt = document.createEvent("MouseEvents");
                            enterEvt.initMouseEvent("mouseenter", true, true, window,
                                    0, 0, 0, x, y, false, false, false, false, 0, null);
                            element.dispatchEvent(enterEvt);

                            obj.data("LAST_MOUSE_OVER", element);
                        }

                        if (data.handDown) {
                            if (obj.data('handDown') && !obj.data('dispatchedMouseDown') && timestamp - obj.data('lastDownEvent') > 900) {
                                var evt = document.createEvent("MouseEvents");
                                evt.initMouseEvent('mousedown', true, true, window,
                                        0, 0, 0, x, y, false, false, false, false, 0, null);
                                element.dispatchEvent(evt);
                                obj.data('dispatchedMouseDown', true);
                            } else if (!obj.data('handDown')) {
                                obj.data('lastDownEvent', timestamp);
                                obj.data('dispatchedMouseDown', false);
                            }

                            obj.data('handDown', true);
                        } else if (obj.data('lastDownEvent') !== null) {
                            obj.data('handDown', false);
                            obj.data('lastDownEvent', null);
                            if (obj.data('dispatchedMouseDown')) {
                                var evt = document.createEvent("MouseEvents");
                                evt.initMouseEvent('mouseup', true, true, window,
                                        0, 0, 0, x, y, false, false, false, false, 0, null);
                                element.dispatchEvent(evt);
                            } else {
                                var evt = document.createEvent("MouseEvents");
                                evt.initMouseEvent('click', true, true, window,
                                        0, 0, 0, x, y, false, false, false, false, 0, null);
                                element.dispatchEvent(evt);
                            }
                        }

                        var evt = document.createEvent("MouseEvents");
                        evt.initMouseEvent('mousemove', true, true, window,
                                0, 0, 0, x, y, false, false, false, false, 0, null);
                        element.dispatchEvent(evt);

                    }
                }

                $(window).on('blur', function () {
                    resetMouseVariables();
                });

                var stompClient = null;

                var interval = null;
                var handSub = null;

                function setGetData() {

                    stompClient.subscribe('/topic/bodyposition', function (message) {
                        animacaoIdle.setUsuarioDetectado(true);
                        var bodyData = JSON.parse(message.body);
                        bodyData.t = new Date().getTime();
                        animacaoIdle.setUltimoDataUsuario(bodyData);
                    });

                    stompClient.subscribe('/topic/nouserdetected', function () {
                        if (animacaoIdle.getUsuarioDetectado()) {
                            animacaoIdle.resetAnimacao();
                            animacaoIdle.setUsuarioDetectado(false);
                        }
                    });

                }

                function connect() {
                    var socket = new SockJS('/kinect');
                    stompClient = Stomp.over(socket);
                    stompClient.connect({}, function (frame) {

                        resetMouseVariables();

                        stompClient.subscribe('/topic/handinterface', function (message) {
                            var handData = JSON.parse(message.body);

                            function drawHand(data, obj) {
                                if (data !== null) {
                                    obj.show();

                                    var left = data.x * $('#hand-screen').width() - obj.width() / 2;
                                    var top = data.y * $('#hand-screen').height() - obj.height() / 2;

                                    if (data.handDown) {
                                        obj.attr('src', "imgs/icons/hand-invert.png");
                                    } else {
                                        obj.attr('src', "imgs/icons/hand.png");
                                    }

                                    obj.css({
                                        left: left,
                                        top: top
                                    });

                                    simulateMouseEvent(obj, data);

                                } else {
                                    obj.hide();
                                }
                            }

                            drawHand(handData.leftHand, $('#left-cursor'));
                            drawHand(handData.rightHand, $('#right-cursor'));
                        });

                        kinectLoaded = true;

                    });
                }
            }

            var HAND_SCREEN_SIZE = -1;

            var handScreen = $('#hand-screen');

            var scrIncr = Math.sin(Math.PI / 4) * 2;
            var marginFactor = 0.2070030895983522;
            var scrFactor = 1;

            $(window).on('resize', function () {
                //var baseSize = window.innerHeight / 2;
                HAND_SCREEN_SIZE = window.innerHeight * scrFactor; //Math.sqrt(Math.pow(baseSize, 2) / 2);
                handScreen.width(HAND_SCREEN_SIZE / 2 * scrFactor);
                handScreen.height(HAND_SCREEN_SIZE / 4);

                handScreen.css({
                    "top": window.innerHeight * scrFactor - handScreen.height(),
                    "right": window.innerHeight * scrFactor - handScreen.width()
                });

                $('#wrapper-campo-de-observacao').width(window.innerHeight * scrFactor);
                $('#wrapper-campo-de-observacao').height(window.innerHeight * scrFactor);

                $('#wrapper-campo-de-observacao').css({
                    "margin-top": window.innerHeight * ((1 - scrFactor) / 2)
                });

                $('#campo-de-observacao').width(window.innerHeight * scrIncr * scrFactor);
                $('#campo-de-observacao').height(window.innerHeight * scrIncr * scrFactor);
                $('#campo-de-observacao').css({
                    "margin-left": -window.innerHeight * marginFactor * scrFactor,
                    "margin-top": -window.innerHeight * marginFactor * scrFactor
                });

                var parentScrs = $('#campo-de-observacao > div');
                parentScrs.width(parseInt(window.innerHeight * scrIncr * scrFactor));
                parentScrs.height(parseInt((window.innerHeight / 2) * scrIncr * scrFactor));

            });

            var textures = [];
            var models = [];
            var videos = [];
            var audios = [];

            var modelosIt = -1;
            var audiosIt = -1;

            $('#load-modal').data('beforeReady', []);
            $('#load-modal').data('texturas', textures);
            $('#load-modal').data('modelos', models);
            $('#load-modal').data('videos', videos);
            $('#load-modal').data('audios', audios);

            $('#load-modal').data('loadAudio', function (path, cb) {

                audios[++audiosIt] = false;

                (function () {

                    var audioLoadIt = audiosIt;
                    var audio = new Audio();
                    cb(audio);
                    audio.src = path;
                    audios[audioLoadIt] = true;

                })();

            });

            $('#load-modal').data('loadVideo', function (path, w, h, cb) {

                $('body').append("<video muted loop style=\"display: none;\"><source src=" + path + " type=\"video/mp4\"></video>");

                var video = $('video:last')[0];

                video.width = w;
                video.height = h;

                function videoLoaded() {
                    cb(this);
                    this.loaded = true;
                    video.removeEventListener('play', videoLoaded);
                }

                video.addEventListener('play', videoLoaded, false);

                videos.push(video);

                video.play();
            });

            THREE.ImageUtils.loadTextureOriginal = THREE.ImageUtils.loadTexture;

            THREE.ImageUtils.loadTexture = function (path) {
                var texture = THREE.ImageUtils.loadTextureOriginal(path);

                textures.push(texture);

                return texture;
            };

            $('#load-modal').data('loadPly', function (plyFile, cb) {

                models[++modelosIt] = false;

                (function () {

                    var modelLoadId = modelosIt;

                    var loader = new THREE.PLYLoader();

                    loader.addEventListener('load', function (event) {
                        var object = event.content;
                        cb(object);
                        models[modelLoadId] = true;
                    });

                    loader.load(plyFile);

                })();

            });

            $('#load-modal').data('loadCollada', function (colladaFile, cb) {
                models[++modelosIt] = false;

                (function () {

                    var modelLoadId = modelosIt;

                    var loader = new THREE.ColladaLoader();

                    loader.options.convertUpAxis = true;

                    loader.load(colladaFile, function (collada) {
                        cb(collada);
                        models[modelLoadId] = true;
                    });

                })();

            });


            $('#load-modal').data('loadOBJMTL', function (managerName, objFile, mtlFile, cb) {
                models[++modelosIt] = false;

                (function () {

                    var modelLoadId = modelosIt;

                    var loader = new THREE.OBJMTLLoader(ON_DAED["3D"].createManager(managerName));

                    loader.load(objFile, mtlFile, function (object) {
                        cb(object);
                        models[modelLoadId] = true;
                    });

                })();

            });

            function resizeLoadModal() {
                var loadModal = $('#load-modal');
                loadModal.width(window.innerWidth);
                loadModal.height(window.innerHeight);
            }

            resizeLoadModal();

            $('#load-modal .modal-dialog').hide().removeClass('hidden').fadeIn(5);

            $(window).on("resize", resizeLoadModal);

            $(window).trigger("resize");

            var conteudoCarregado = false;

            $(window).load(function () {
                conteudoCarregado = true;
            });

            var texturasCounter = 0;
            var texturas = $('#load-modal').data('texturas');
            var texturasMax = texturas.length;
            var modelosCounter = 0;
            var modelos = $('#load-modal').data('modelos');
            var modelosMax = modelos.length;
            var videosCounter = 0;
            var videos = $('#load-modal').data('videos');
            var videosMax = videos.length;
            var audiosCounter = 0;
            var audios = $('#load-modal').data('audios');
            var audiosMax = audios.length;


            var loadInterval = window.setInterval(function () {

                texturasMax = Math.max(texturasMax, texturas.length);
                modelosMax = Math.max(modelosMax, modelos.length);
                videosMax = Math.max(videosMax, videos.length);
                audiosMax = Math.max(audiosMax, audios.length);

                $('#load-modal-counter').html(texturasCounter + modelosCounter + videosCounter + audiosCounter);
                $('#load-modal-counter-max').html(texturasMax + modelosMax + videosMax + audiosMax);

                for (var i = audios.length - 1; i >= 0; i--) {
                    if (audios[i]) {
                        audios.splice(i, 1);
                        audiosCounter++;
                    }
                }

                for (var i = modelos.length - 1; i >= 0; i--) {
                    if (modelos[i]) {
                        modelos.splice(i, 1);
                        modelosCounter++;
                    }
                }

                for (var i = texturas.length - 1; i >= 0; i--) {
                    if (texturas[i].image && texturas[i].image.complete) {
                        texturas.splice(i, 1);
                        texturasCounter++;
                    }
                }

                for (var i = videos.length - 1; i >= 0; i--) {
                    if (videos[i].loaded) {
                        videos.splice(i, 1);
                        videosCounter++;
                    }
                }

                if (
                        (acessoViaBrowser || kinectLoaded)
                        && audiosCounter >= audiosMax && videosCounter >= videosMax && modelosCounter >= modelosMax && texturasCounter >= texturasMax && ON_DAED['3D'].START_RENDER !== null && conteudoCarregado === true

                        ) {

                    $('#load-modal-counter').html(texturasCounter + modelosCounter + videosCounter + audiosCounter);

                    window.clearInterval(loadInterval);
                    window.setTimeout(function () {
                        $(window).off("resize", resizeLoadModal);

                        $('.ui-astro-icon').removeClass('hidden');
                        $('#canvas-wrapper').removeClass('hidden');

                        window.setTimeout(function () {
                            if (ON_DAED['3D'].START_RENDER instanceof Function) {
                                ON_DAED['3D'].START_RENDER();
                            }

                            $(window).trigger('resize');

                            var beforeReady = $('#load-modal').data('beforeReady');

                            for (var i = 0; i < beforeReady.length; i++) {
                                beforeReady[i]();
                            }

                            window.setTimeout(function () {
                                $('#load-modal').fadeOut(500, function () {
                                    if (acessoViaBrowser) {
                                        function transicaoModelo() {
                                            animacaoIdle.transicaoModelo();
                                        }

                                        $(document).on('click touch', transicaoModelo);
                                    }

                                    $(this).remove();

                                    window.setTimeout(function () {
                                        setGetData();
                                    }, 500);

                                });
                            }, 750);

                        }, 500);

                    }, 500);
                }
            }, 100);

            var max = Math.max(window.screen.width, window.screen.height);
            var min = Math.min(window.screen.width, window.screen.height);

            var updateDimensao = ((min / max) * 100 + '%');

            if (window.screen.width === max) {
                $('#campo-de-observacao')
                        .css('width', updateDimensao)
                        .css('height', "100%");
            } else {
                $('#campo-de-observacao')
                        .css('height', updateDimensao)
                        .css('width', "100%");
            }

            var element = document.getElementById('campo-de-observacao');
            var animacaoIdle;
            var views = [];

            var updateIt = -Math.PI / 2;

            var YDifference;

            ON_DAED["3D"].create(function (scene, camera) {
                animacaoIdle = ON_DAED["3D"].AnimacaoPiramideIdle(scene, !acessoViaBrowser);

                YDifference = animacaoIdle.getY();

                var camUpLeft = camera;
                var camDownLeft = new THREE.PerspectiveCamera(45, 1, 1, 10000000000);
                var camUpRight = new THREE.PerspectiveCamera(45, 1, 1, 10000000000);
                var camDownRight = new THREE.PerspectiveCamera(45, 1, 1, 10000000000);

//                camDownRight.scale.z = camUpLeft.scale.z = Math.sin(Math.PI / 4);
//                camUpRight.scale.z = camDownLeft.scale.z = Math.sin(Math.PI / 4);

                var raioDistancia = 300;
                var lookPosition = new THREE.Vector3(0, YDifference, 0);

                views.push({
                    camera: camUpLeft,
                    left: 0,
                    bottom: 0.5,
                    width: 1 / 2,
                    height: 0.5,
                    update: function (w, h) {
                        this.camera.rotation.z = Math.atan2(h, w) + Math.PI / 2;
                    }
                });

                camUpLeft.position.set(raioDistancia * Math.sin(0 * Math.PI / 180), YDifference, raioDistancia * Math.cos(0 * Math.PI / 180));
                camUpLeft.lookAt(lookPosition);

                views.push({
                    camera: camDownLeft,
                    left: 0.5,
                    bottom: 0.5,
                    width: 1 / 2,
                    height: 0.5,
                    update: function (w, h) {
                        this.camera.rotation.z = 3 / 2 * Math.PI - Math.atan2(h, w);
                    }
                });

                camUpRight.position.set(raioDistancia * Math.sin(90 * Math.PI / 180), YDifference, raioDistancia * Math.cos(90 * Math.PI / 180));
                camUpRight.lookAt(lookPosition);

                views.push({
                    camera: camUpRight,
                    left: 0,
                    bottom: 0,
                    width: 1 / 2,
                    height: 0.5,
                    update: function (w, h) {
                        this.camera.rotation.z = Math.PI / 2 - Math.atan2(h, w);
                    }
                });

                camDownLeft.position.set(raioDistancia * Math.sin(-90 * Math.PI / 180), YDifference, raioDistancia * Math.cos(-90 * Math.PI / 180));
                camDownLeft.lookAt(lookPosition);

                views.push({
                    camera: camDownRight,
                    left: 0.5,
                    bottom: 0,
                    width: 1 / 2,
                    height: 0.5,
                    update: function (w, h) {
                        this.camera.rotation.z = Math.atan2(h, w) + Math.PI / 2;
                    }
                });

                camDownRight.position.set(raioDistancia * Math.sin(180 * Math.PI / 180), YDifference, raioDistancia * Math.cos(180 * Math.PI / 180));
                camDownRight.lookAt(lookPosition);

            }, function (cameraControl, renderer, scene, camera, stats, clock) {

                for (var ii = 0; ii < views.length; ++ii) {

                    var view = views[ii];
                    var cam = view.camera;

                    var left = Math.floor(element.offsetWidth * view.left);
                    var bottom = Math.floor(element.offsetHeight * view.bottom);
                    var width = Math.floor(element.offsetWidth * view.width);
                    var height = Math.floor(element.offsetHeight * view.height);

                    view.update(width, height);

                    renderer.setViewport(left, bottom, width, height);
                    renderer.setScissor(left, bottom, width, height);
                    renderer.enableScissorTest(true);

                    cam.aspect = width / height;
                    cam.updateProjectionMatrix();

                    renderer.render(scene, cam);
                }

                animacaoIdle.update();
                ON_DAED["3D"].update();
                TWEEN.update();
            }, element);

            $('.hands-cursor').hide();

            if (!acessoViaBrowser) {
                connect();
            }

            /*]]>*/

        </script>

    </body>
</html>